* {
    background-color: black;
}

.results-here {
    background-color: black;
    width: 80%;
    margin: 10px auto;
    text-align: center; 
}

.results-here h2 {
    color: white;
    font-family: "roboto";
    font-size: 16px;
    padding: 15px;
}

.footer p {
    height: 20px;
    width: 100%;
    margin: 0px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.637);
    bottom: 0%;
    font-size: 12px;
}

@media screen and (max-aspect-ratio: 3/4) {
    
}

@media screen and (max-aspect-ratio: 9/16) {

    .results-here {
        width: 100%;
    }

}