body {
    text-align: center;
}

#prof-title {
    padding-top: 30px;
    text-align: center;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    border: 2px solid black;
    width: 80%;
    margin: 15px auto;
    height: 250px;
    text-align: center;
}

.scroll-card {
    flex: 0 0 auto;
    width: 25%;
}

.watched-card-space {
    
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px;
    justify-content: flex-start;
}

.watched-card-space a {
    text-decoration: none;
}

.watched-card-space a:hover {
    opacity: .75
}

.watched-name {
    font-size: 18px;
    margin-top: 10px;
}

.watched-poster {
    max-height: 165px;
    width: auto;
}

#spacer {
    height: 20px;
}

.watched-div, .wanted-div {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;    
}

@media screen and (min-width: 320px) 
  and (max-width: 480px) {

    .scrolling-wrapper-flexbox {
        width: 95%;
        text-align: center;
    }

    .watched-card-space {
        margin: 10px, 5px;
        width: 90px;
        
    }

    .watched-poster {
        width: 100px;
        
    }

    .watched-name {
        text-align: center;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        display: inline-block;
    }

    .watched-div, .wanted-div {
        justify-content: unset;
        padding-left: 10px;
    }

    #prof-title {
        font-size: 30px;
    }
}

@media screen and (min-width: 480px) 
    and (max-width: 900px) {
    .card {
        width: 100%;
    }
}

@media screen and (min-device-width: 768px)
  and (max-device-width: 1024px) 
  and (orientation: portrait) {
  
    .page {
        width: 100%;
    }

}

@media screen and (min-device-width: 800px)
  and (max-device-width: 1280px) 
  and (orientation: portrait) {
  
    .page {
        width: 100%;
    }

}

@media screen and (min-device-width: 834px)
  and (max-device-width: 1112px) 
  and (orientation: portrait) {
    
    .page {
        width: 100%;
    }

}

@media screen and (min-device-width: 1024px)
  and (max-device-width: 1366px) 
  and (orientation: portrait) {

    .page {
        width: 100%;
    }
  
}

@media screen and (min-device-width: 1200px)
  and (max-device-width: 1600px) 
  and (orientation: portrait) {

    .page {
        width: 100%;
    }
  
}
