* {
    background-color: black;
}

.results-here {
    background-color: black;
    
    width: 80%;
    
    margin: 10px auto;
    text-align: center;
    
}

.results-here h2 {
    color: white;
    font-family: "roboto";
    font-size: 16px;
    padding: 15px;
}